body {
  margin: 0;
  background: white;
  color: #111;
  font-family: Arial, sans-serif;
}

.logo {
  width: 200px;
  margin: 40px 0 0 30px;
}

.home-layout {
  display: flex;
  align-items: flex-start;
  gap: 70px;

  max-width: 1400px;
  margin: 60px auto 0;
  padding: 0 50px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: -40px;
  min-width: 180px;
}

.side-menu a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
}

.home-art {
  flex: 1;
  margin-top: -130px;
}

.main-illustration {
  width: 70%;
  max-width: 900px;
  display: block;
}

.small-illustrations {
  display: flex;
  gap: 30px;
  margin-top: -10px;
  margin-left: 280px;
}

.small-illustrations img {
  width: 150px;
  display: block;
}

@media (max-width: 900px) {
  .home-layout {
    flex-direction: column;
    gap: 40px;
  }

  .side-menu {
    margin-top: 0;
    gap: 25px;
  }

  .side-menu a {
    font-size: 20px;
  }

  .small-illustrations {
    gap: 20px;
  }

  .small-illustrations img {
    width: 100px;
  }
}
